<!DOCTYPE html>
<html>
  <head>
    <title> Welcome </titile>
  </head>
  <body>
    <h1>Welcome to codemeals.com, <%= @user.nome %></h1>
    <p>
      You have successfully signed up to codemeals.com,
      Great Job
    </p>
    <p>
    
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
