<div class="con" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Iot gateway</h1>
    <p class="lead">ProgettoIsa per la gestione di sensori </p>
    <hr class="my-4">
  </div>
</div>