<div class="con" id="home-container">
  <div class="jumbotron text-center text-white" id="page-container">
    <h1 class="display-4">Iot gateway</h1>
    <p class="lead">ProgettoIsa per la gestione di sensori </p>
  </div>
</div>

<style type="text/css">
#home-container {
    margin-top: 0px;
    height: 533px;
    
}
#page-container{
	box-sizing: content-box;
}	
</style>